[submodule "src/updater"]
	path = src/updater
	url = https://github.com/Team236/Updater.git
	branch = master
[submodule "src/motionProfile"]
	path = src/motionProfile
	url = https://github.com/Team236/MotionProfile.git
	branch = master
